.Login {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.Login::after {
    content: '';
    position: absolute;
    top: -100px;
    left: -100px;
    height: 600px;
    width: 600px;
    background-color: #70bf48;
    border-radius: 50%;
    filter: blur(150px);
    opacity: 0.7;
    z-index: 1;
}

.Login::before {
    content: '';
    position: absolute;
    bottom: -150px;
    right: -150px;
    height: 600px;
    width: 600px;
    background-color: #49296c;
    border-radius: 50%;
    filter: blur(50px);
    opacity: 0.7;
    z-index: 1;
}

.Loginform {
    width: 30%;
    height: 50vh;
    /* background-color: rgba(255, 255, 255, 0.1); */
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); */
    border: 1px solid #ffffff80;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
    padding: 30px 20px;
    gap: 26px;
}

.Loginform input {
    outline: none;
    border: none;
    background-color:transparent;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.785);
    font-size: 20px;
    color: rgb(114, 114, 114);
    transition: 0.5s;
}
.Loginform .email:focus {
    border: 1px #70bf48;
    box-shadow: 0px 0px 5px #70bf48;
}
.Loginform .password:focus {
    border: 1px #49296c;
    box-shadow: 0px 0px 5px #49296c;
}
#errorMessage {
    border: 1px solid red;
    box-shadow: 0px 0px 5px red;
}
.button {
    background-color: #80c95c;
    width: 150px;
    height: 55px;
    padding: 12px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    color: white;
    letter-spacing: 1px;
    transition: 0.3s;
}
.button:hover{
    background-color: #734e9b;
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #49296C;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen  and (max-width : 768px) {
    .Loginform {
        width: 80%;
    }
}
@media screen  and (min-width : 769px) and (max-width: 1024px) {
    .Loginform {
        width: 40%;
    }
}