.ajouteragent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    
}

.ajouteragent .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(44, 103, 67, 0.1);
    min-height: 100vh;
    width: 100%;
    gap: 30px;
    padding: 20px;
    overflow-y: scroll;
}

/* ===== Form Style ===== */
.formagent {
    background: #ffffff;
    padding: 30px 35px;
    border-radius: 16px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Labels */
.formagent label {
    font-size: 15px;
    font-weight: 600;
    color: #2c6743;
}

/* Inputs */
.formagent input {
    width: 100%;
    padding: 12px 14px;
    margin-top: 6px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 2px solid #dcdcdc;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
}

/* Input focus */
.formagent input:focus {
    border-color: #2c67439a;
}

/* Placeholder */
.formagent input::placeholder {
    color: #999;
    font-size: 13px;
}

/* Button */
.formagent button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 12px;
    background: rgb(15, 165, 95);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease;
}

/* Button hover */
.formagent button:hover {
    transform: translateY(-2px);
    background-color: rgb(149, 12, 187);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    opacity: 0.95;
}

/* Button active */
.formagent button:active {
    transform: translateY(0);
}
.ajouteragent h1 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: #1a8945;
    letter-spacing: 1px;
}

